#id {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}
img #homeImg {
  margin: "20px auto";
  width: "100%";
  display: flex;
  justify-content: space-around;
}

#home {
  margin: "50px auto";
  width: "100%";
  display: flex;
  justify-content: space-around;
}
